@model ForgetPasswordViewModel
@{ 
    ViewBag.Title = "Forget Password";
}
<div class="row">
    <div class="col-md-12">
        <h3>Forget Password</h3>
        <hr />
        <form method="post" asp-action="ForgetPassword">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
                <button type="submit" class="btn btn-primary mt-2" >Submit</button>
            </div>
        </form>
    </div>
</div>