@{ 
    ViewBag.Title = "Access Denied";
}
<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not hava permission to view this resources</h6>
    <img src="~/images/1.jpg" height="300" width="300" />
</div>